<div class="page-container">
  <header>
    <h1>LKW BLITZ</h1>
  </header>

  <div class="form-container">
    <h2>Reset password</h2>
        <form (ngSubmit)="resetPassword()" #form="ngForm">
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="New password"
            required
            minlength="6"
          />
          <button type="submit" [disabled]="form.invalid">Update password</button>
        </form>
        <p *ngIf="message">{{ message }}</p>
  </div>

</div>
