<div class="page-container">
  
  <!-- Main -->
  <main class="main-content">
    <div class="card-row">
      <div class="card" (click)="goTo('create-order')">
        <img src="assets/new_order.png" alt="Create Order" class="card-img" />
        <div class="card-title">New Order</div>
      </div>
      <div class="card" (click)="goTo('orders')">
        <img src="assets/my_orders.png" alt="Orders" class="card-img" />
        <div class="card-title">My Orders</div>
      </div>
    </div>

    <div class="card-row single-row">
      <div class="card" (click)="goTo('settings')">
        <img src="assets/settings.png" alt="Settings" class="card-img" />
        <div class="card-title">Settings</div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>

</div>
